extends ./index
block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eaque voluptas quidem corporis rem cupiditate error quibusdam ipsam assumenda, aperiam dignissimos labore fuga.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus eum ut, doloremque, dolorum cumque illum, pariatur doloribus nobis temporibus corrupti voluptatibus placeat nulla.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" , class='img-fluid')

        include ./bloques_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2023 - 28 de marzo de 2023
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./bloque_testimoniales                    