extends ./index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                <p>Lorem ipsum dolor sit amet. Ut pariatur dolores et molestiae nostrum aut rerum debitis ut repellat internos est iure voluptas? Et neque placeat hic tempora aperiam sed nisi velit et dicta reprehenderit est alias corrupti et dicta placeat ex facere facilis? Sit molestias fuga est labore reiciendis sit iure nihil. </p>
                <p>Lorem ipsum dolor sit amet. Ut pariatur dolores et molestiae nostrum aut rerum debitis ut repellat internos est iure voluptas? Et neque placeat hic tempora aperiam sed nisi velit et dicta reprehenderit est alias corrupti et dicta placeat ex facere facilis? Sit molestias fuga est labore reiciendis sit iure nihil. </p>
                <p>Lorem ipsum dolor sit amet. Ut pariatur dolores et molestiae nostrum aut rerum debitis.</p>
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate culpa voluptatem ut? Aliquid nam est non tenetur veniam! Iusto velit dicta voluptates quos illo possimus molestias, dolorum eveniet vitae quidem. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconos destino", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate culpa voluptatem ut? Aliquid nam est non tenetur veniam! Iusto velit dicta voluptates quos illo possimus molestias, dolorum eveniet vitae quidem. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="iconos precio", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate culpa voluptatem ut? Aliquid nam est non tenetur veniam! Iusto velit dicta voluptates quos illo possimus molestias, dolorum eveniet vitae quidem.         